:root {
    --branding-color: #6C63FF;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
    --secondary-color: #272142;
}

body {
    font-family: var(--default-font-family);
}

.hero {
    background-color: #F9F7FE;
    text-align: center;
    padding: 40px 0;
}

.caption {
    padding: 150px 0;
}

h1 {
    font-family: var(--heading-font-family);
    font-size: 96px;
    line-height: 128px;
}

.hero p {
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    color: var(--secondary-color);
}

.hero h2 {
    color: var(--secondary-color);
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}

.btn-branding {
    background: var(--branding-color);
    color: white;
    border-radius: 4px;
    padding: 18px 46px;
    text-decoration: none;
    font-size: 18px;
    line-height: 27px;
    font-family: var(--default-font-family);
    font-weight: 500;
    margin-bottom: 50px;
}

a.nav-link {
    color: var(--secondary-color);
    opacity: 0.7;
}

li.home a {
    margin-left: 645px;
    color: var(--branding-color);
}

.nav-item {
    margin-right: 3%;
}

.btn-branding-outline {
    padding: 18px 30px;
    font-size: 16px;
    line-height: 24px;
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-family: var(--default-font-family);
    font-weight: 500;
    text-decoration: none;
}

p {
    font-family: var(--default-font-family);
    font-weight: 400;
    line-height: 27px;
    font-size: 18px;
    color: var(--secondary-color);
}

.project-description h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;
    font-family: var(--heading-font-family);
}

.project-description p {
    color: var(--secondary-color);
    opacity: 0.7;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-family: var(--default-font-family);
}

.project-description {
    padding: 120px 40px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 44px;
        line-height: 60px;
    }
    .project-description {
        padding: 0;
        text-align: center;
    }
    .project-description h2 {
        font-size: 44px;
        line-height: 0.8;
    }
    .caption {
        padding: 50px 0;
    }
    .hero {
        padding: 10px 0;
    }
}