:root {
    --branding-color: #6C63FF;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
    --secondary-color: #272142;
}

body {
    font-family: var(--default-font-family);
}

.hero {
    height: 900px;
    background-color: #F9F7FE;
    text-align: center;
}

h1 {
    font-family: var(--heading-font-family);
    font-size: 96px;
    line-height: 128px;
}

.hero p {
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    color: var(--secondary-color);
}

.hero h2 {
    color: var(--secondary-color);
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}

.btn-branding {
    background: var(--branding-color);
    color: white;
    border-radius: 4px;
    padding: 18px 46px;
    text-decoration: none;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins';
    font-weight: 500;
}

a.nav-link {
    color: var(--secondary-color);
    opacity: 0.7;
}

.caption {
    margin-top: 10%;
}

li.home a {
    margin-left: 645px;
    color: var(--branding-color);
}

.nav-item {
    margin-right: 3%;
}

.container {
    padding-top: 40px;
}